﻿@model CasaRural.Models.Furniture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Furniture</h4>
    <hr />
    <!--
       <dl class="row">
           <dt class = "col-sm-2">
               @Html.DisplayNameFor(model => model.Name)
           </dt>
           <dd class = "col-sm-10">
               @Html.DisplayFor(model => model.Name)
           </dd>
           <dt class = "col-sm-2">
               @Html.DisplayNameFor(model => model.BuyDate)
           </dt>
           <dd class = "col-sm-10">
               @Html.DisplayFor(model => model.BuyDate)
           </dd>
           <dt class = "col-sm-2">
               @Html.DisplayNameFor(model => model.High)
           </dt>
           <dd class = "col-sm-10">
               @Html.DisplayFor(model => model.High)
           </dd>
           <dt class = "col-sm-2">
               @Html.DisplayNameFor(model => model.Weight)
           </dt>
           <dd class = "col-sm-10">
               @Html.DisplayFor(model => model.Weight)
           </dd>
           <dt class = "col-sm-2">
               @Html.DisplayNameFor(model => model.Image)
           </dt>
           <dd class = "col-sm-10">
               @Html.DisplayFor(model => model.Image)
           </dd>
           <dt class = "col-sm-2">
               @Html.DisplayNameFor(model => model.Available)
           </dt>
           <dd class = "col-sm-10">
               @Html.DisplayFor(model => model.Available)
           </dd>
           <dt class = "col-sm-2">
               @Html.DisplayNameFor(model => model.Active)
           </dt>
           <dd class = "col-sm-10">
               @Html.DisplayFor(model => model.Active)
           </dd>
       </dl>
        -->
</div>

<div class="card" style="width: 18rem;  margin: auto auto">
    <img src=" @Html.DisplayFor(model => model.Image)" class="card-img-top img-fluid img-thumbnail w-50"  alt="...">
    <div class="card-body">
        <h5 class="card-title"> @Html.DisplayFor(model => model.Name)</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Html.DisplayNameFor(model => model.BuyDate) : @Html.DisplayFor(model => model.BuyDate)</li>
    </ul>
    <div class="card-body">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a class="btn btn-success" asp-action="Index">Back to List</a>
    </div>
</div>