﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{ }
@model CasaRural.Models.Booking
</div><div id="app" class="col-11">

    <h2>Factura</h2>

    <div class="row my-3">
        <div class="col-10">
            <h1>
                Alberto Borrero
            </h1>
            <p>Av. Winston Churchill</p>
            <p>Plaza Orleans 3er. nivel</p>
            <p>local 312</p>
            <p>Fecha de consulta: @ViewBag.fechaActual</p>
        </div>

    </div>

    <hr />

    <div class="row fact-info mt-3">
        <div class="col-3">
            <h5>Facturar a</h5>
            <p>
                @Html.DisplayFor(model => model.Customer.Name) @Html.DisplayFor(model => model.Customer.Surname)
            </p>
        </div>
        <div class="col-3">
            <h5>Enviar a</h5>
            <p>
                @Html.DisplayFor(model => model.Customer.Address)
                <br />
                @Html.DisplayFor(model => model.Customer.UserAccount.Email)
            </p>
        </div>
        <div class="col-3">

            <h5>Fecha entrada:</h5>
            <p> @Html.ValueFor(model => model.BookingStartDate, "{0:dd/MM/yyyy}")</p>
        </div>
        <div class="col-3">

            <h5>Fecha salida:</h5>
            <p> @Html.ValueFor(model => model.BookingEndDate, "{0:dd/MM/yyyy}")</p>
        </div>
        <div class="col-3">



        </div>
    </div>

    <div class="row my-5">
        <table class="table table-borderless factura">
            <thead>
                <tr>
                    <th>Dias Totales</th>
                    <th>Habitación</th>
                    <th>Dieta</th>
                    <th>Suplementos</th>
                    <th>Precio suplementos</th>
                    <th>IVA Suplementos</th>
                    <th>IVA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.diasReservados</td>
                    <td> @Html.DisplayFor(model => model.Room.TypeRoom.Price)</td>
                    <td>@Html.DisplayFor(model => model.Diet.Price)</td>

                    @if (ViewBag.supplement != null)
                    {
                        <td>
                            @foreach (Supplement o in ViewBag.supplement)
                            {
                                    @o.Other.Name <br /> 
                            }
                        </td>
                        <td>
                            @foreach(Double o in ViewBag.other)
                {
                    @o.ToString() <br />
                }
                        </td>
                    }
                    <td>10 %</td>
                    <td>21 %</td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Total</th>
                    <th>@ViewBag.precio €</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>

