﻿@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome @Context.Session.GetString("name")</h1>
   
</div>


<div class="container-fluid">
<img src="https://media.traveler.es/photos/61376727bae07f0d8a492c2a/4:3/w_2016,h_1512,c_limit/170188.jpg" class="img-fluid img-thumbnail ">
</div>

