﻿@model CasaRural.Models.RoomCleaning

@{
    ViewData["Title"] = "Create";
}


<div class="container position-absolute top-50 start-50 translate-middle align-middle">
    <form class="row justify-content-center g-3" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <label asp-for="CleanDate" class="control-label"></label>
            <input asp-for="CleanDate" class="form-control" />
            <span asp-validation-for="CleanDate" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="Observations" class="control-label"></label>
            <input asp-for="Observations" class="form-control" />
            <span asp-validation-for="Observations" class="text-danger"></span>
        </div>

        <div class="col-6">
            <label asp-for="EmployedID" class="control-label"></label>
            <select asp-for="EmployedID" class="form-control" asp-items="ViewBag.EmployedID"></select>
        </div>
        <div class="col-6">
            <label asp-for="RoomID" class="control-label"></label>
            <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Clean" /> @Html.DisplayNameFor(model => model.Clean)
            </label>
        </div>
        <div class="col-12 d-grid gap-2">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <div>
            <a class="btn btn-success col-12 d-grid gap-2" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@if (TempData["ErrorMessage"] != null)
{
    <p class="text-danger">@TempData["ErrorMessage"]</p>
}