﻿@model CasaRural.Models.RoomCleaning

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoomCleaning</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleanDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleanDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employed.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
