﻿@model CasaRural.Models.RoomCleaning

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoomCleaning</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleanDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleanDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employed.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>
