﻿@model CasaRural.Models.Menu

@{
    ViewData["Title"] = "Create";
}


<div class="container position-absolute top-50 start-50 translate-middle align-middle">
    <form class="row justify-content-center g-3" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-6">
            <label asp-for="Controller" class="control-label"></label>
            <input asp-for="Controller" class="form-control" />
            <span asp-validation-for="Controller" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="Action" class="control-label"></label>
            <input asp-for="Action" class="form-control" />
            <span asp-validation-for="Action" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="Label" class="control-label"></label>
            <input asp-for="Label" class="form-control" />
            <span asp-validation-for="Label" class="text-danger"></span>
        </div>
        <div class="col-12 d-grid gap-2">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <div>
            <a class="btn btn-success col-12 d-grid gap-2" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
