﻿@model CasaRural.Models.Employed

@{
    ViewData["Title"] = "Edit";
}


<div class="container position-absolute top-50 start-50 translate-middle align-middle">
    
        <form class="row justify-content-center g-3" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="JobPostionID" class="control-label"></label>
                <select asp-for="JobPostionID" class="form-control" asp-items="ViewBag.JobPostionID"></select>
                <span asp-validation-for="JobPostionID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="col-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label asp-for="UserAccountID" class="control-label"></label>
                <select asp-for="UserAccountID" class="form-control" asp-items="ViewBag.UserAccountID"></select>
                <span asp-validation-for="UserAccountID" class="text-danger"></span>
            </div>
            <div class="col-12 d-grid gap-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-success col-12 d-grid gap-2" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
