﻿@model CasaRural.Models.UserAccount

@{
    ViewData["Title"] = "Index";
    <!--
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/css/estilo.css" type="text/css" rel="stylesheet" />
    -->
    <title>Login Page</title> <!--Made with love by Mutiullah Samim --> <!--Bootsrap 4 CDN-->
                                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> <!--Fontawesome CDN-->
                                                                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> <!--Custom styles-->
                                                                                        <link rel="stylesheet" type="text/css" href="/css/styles.css">

}
<!--
<div class="container imagen">
    <div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">
                    Sign in to continue
                    s
                </h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                         alt="">
                    <form method="get" asp-action="Login" class="form-signin">
                        <input type="text" asp-for="Username" class="form-control" placeholder="Username" required autofocus>
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Accept
                        </button>
                        <div>
                            <a asp-action="Create" asp-controller="Customers" class="btn btn-success btn-block">Register Customer</a>
                        </div>
                        <div>
                            <a asp-action="Create" asp-controller="Employeds" class="btn btn-light btn-block">Register Employed</a>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</div>


-->



    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                       
                    </div>
                </div>
                <div class="card-body">
                    <form method="get" asp-action="Login" class="form-signin">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" asp-for="Username" class="form-control" placeholder="Username" />

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_btn">
                            <br />
                            <br />
                        </div>
                       
                    </form>
                    <div>
                        <div>
                            <a asp-action="Create" asp-controller="EmployedDtoes" class="btn btn-success btn-block">Register Employed</a>
                            <br />
                        </div>
                        <div>
                            <br />
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
 