﻿@model CasaRural.Models.Inventory

@{
    ViewData["Title"] = "Create";
}


<div class="container position-absolute top-50 start-50 translate-middle align-middle">
   
        <form class="row justify-content-center g-3" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6">
                <label asp-for="FurnitureID" class="control-label"></label>
                <select asp-for="FurnitureID" class="form-control" asp-items="ViewBag.FurnitureID"></select>
            </div>
            <div class="col-6">
                <label asp-for="RoomID" class="control-label"></label>
                <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
            </div>
            <div class="col-12 d-grid gap-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-success col-12 d-grid gap-2" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
