﻿@model CasaRural.Models.Inventory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventory</h4>
<hr />
<div class="container position-absolute top-50 start-50 translate-middle align-middle">
   
    <form class="row justify-content-center g-3" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="col-6">
            <label asp-for="FurnitureID" class="control-label"></label>
            <select asp-for="FurnitureID" class="form-control" asp-items="ViewBag.FurnitureID"></select>
            <span asp-validation-for="FurnitureID" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="RoomID" class="control-label"></label>
            <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
            <span asp-validation-for="RoomID" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
            </label>
        </div>
        <div class="col-12 d-grid gap-2">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

        <div>
            <a class="btn btn-success col-12 d-grid gap-2" asp-action="Index">Back to List</a>
        </div>
    </form>
    </div>




    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
