﻿@model IEnumerable<CasaRural.Models.UserAccount>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

<h1>User Accounts</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<form asp-controller="UserAccounts" asp-action="Index" method="get">

    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Filter</button>
        <input type="text" name="busqueda" class="form-control" placeholder="Filter by username" aria-describedby="button-addon1">
    </div>
    <a asp-page="/Index">Back to full List</a>
</form>
    <table class="table table-info table-striped border border-warning">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-down" viewBox="0 0 16 16">
                                    <path d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793L7.646.146zM1 7v3h14V7H1zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2h14zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu btn-success " aria-labelledby="dropdownMenuButton1">
                                @if (@Context.Session.GetString("id") != item.ID.ToString())
                                {
                                    <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.ID">Edit</a></li>
                                }
                                <li><a class="dropdown-item " asp-action="Details" asp-route-id="@item.ID">Details</a></li>
                                <li><a class="dropdown-item " asp-action="BorradoLogico" asp-route-id="@item.ID">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a type="button" class="btn btn-secondary" asp-action="ActivaTodo">Enable all clients</a> |
    <a type="button" class="btn btn-warning" asp-action="DesactivaTodo">Disable all clients</a> |
    @if (@Context.Session.GetString("rol").Equals("Admin"))
    {
        <a type="button" class="btn btn-dark" asp-action="VerTodoLosRegistros">
            See all records
        </a>
    }
