﻿@model CasaRural.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <!--
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeRoom.Description)
        </dd>
    </dl>
        -->

    <div class="card" style="width: 18rem; margin: auto auto">
        <img src=" @Html.DisplayFor(model => model.Image)" class="card-img-top  img-fluid img-thumbnail w-50" alt="...">
        <div class="card-body">
            <h5 class="card-title"> @Html.DisplayFor(model => model.Name)</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Número de Habitación: @Html.DisplayFor(model => model.NumberRoom)</li>
        </ul>
        <div class="card-body">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
            <a class="btn btn-success" asp-action="Index">Back to List</a>
        </div>
    </div>

