﻿@model IEnumerable<CasaRural.Models.Room>
@using Microsoft.AspNetCore.Http;



<h1>Planing de ocupación</h1>

<table class="table table-info table-striped border border-warning">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberRoom)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TypeRoom)
            </th>
            <th>
               Start Date:
            </th>
            <th>
                End Date:
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberRoom)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TypeRoom.Name)
            </td>
            @if (ViewBag.booking != null)
            {
                <td>
                    @foreach (Booking o in ViewBag.booking)
                    {
                        @o.BookingStartDate.ToString("dd/MM/yyyy") <br />
                    }
                </td>
            <td>
                @foreach (Booking o in ViewBag.booking)
                {
                    @o.BookingEndDate.ToString("dd/MM/yyyy") <br />
                }
            </td>
            }
        </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>